.form-box {
    border: 1px solid #000;
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background-color: rgb(64, 64, 64);
}

form {
    display: flex;
    flex-direction: column;
    color: #fff;
}

form > label {
    font-weight: bold;
}

form > input {
    padding: 10px 20px;
    margin: 5px 0 20px 0;
    border: none;
    outline: none;
}

form > button {
    padding: 5px;
    cursor: pointer;
    background-color: #eee;
    color: rgb(64, 64, 64);
    border: none;
    font-weight: bold;
}